body {
  font-family: 'Montserrat', sans-serif;
}

#app {
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  transition: all 0.2s;
}

div {
  margin: 8px 0;
  flex-direction: column;
}

h2 {
  font-weight: bold;
  margin: 5px 0;
}

h1 {
  color: red;
  margin: 30px 0;
  font-size: 50px;
  font-weight: 1000;
}

input {
  margin-right: 5px;
  width: 40px;
  text-align: center;
}

.body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 160px;
  margin: 0 auto;
  max-width: 1100px;
  
  @include respond(phone) {
    padding: 0 20px;
    flex-direction: column;
  }
}

.clock {
  font-family: Arial;
  font-size: 70px;
  text-align: center;
  align-self: center;
}

.footer {
  text-align: center;
}